wadl.xml

<?xml version="1.0"?> 
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd" xmlns="http://wadl.dev.java.net/2009/02">
<resources base="http://localhost:8080/Pfa">
    <resource path="/Produits">
        <method name="GET" id="getProducts">
                <response status="200">
                    <representation mediaType="application/json"/>
                </response>
        </method>
        <method name="POST" id="saveProduct"/>
        <method name="PUT" id="updateProduct"/>
    <resource path="{id}">
        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" style="template" name="id"/>
        <method name="GET" id="getProduct">
            <response status="200">
                <representation mediaType="application/json"/>
            </response>
        </method>
        <method name="DELETE" id="deleteProduct"/>

    <resource path="/Stock">
        <method name="GET" id="getStock">
            <response status="200">
                <representation mediaType="application/json"/>
            </response>
        </method>
    </resource>
</resources>
</application> 